<div *ngIf="isAuthenticated && isAdmin">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="form-title">Adicione produtos ao cardápio:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" class="form-container">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width" required>
                <input formControlName="name" matInput placeholder="Nome">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width" required>
                <input  formControlName="price" matInput placeholder="Preço">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="full-width" required>
                <input  formControlName="qtt" matInput placeholder="Quantidade">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="full-width" required>
                <textarea  formControlName="description" matInput placeholder="Descrição"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-6 imgInsert">
                <div class="pb-1">
                <label class="imgLabel">Selecionar Imagem:  </label>
                  <input type="file" #fileInput style="display:none" (change)="onFileChange($event)" formControlName="productUrl">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Selecionar</button>
                </div>
                <div class="preview-container">
                  <mat-card-header>
                    <mat-card-title>Visualização do cliente:</mat-card-title>
                  </mat-card-header>
                    <mat-card class="preview-card">
                      
                      <mat-card-content>
                        <div class="preview-restaurant">
                          <div *ngIf="productUrl" class="image-container">
                            <img [src]="productUrl" alt="Imagem do restaurante" class="rounded-circle preview-img">
                          </div>
                          <div class="name-container" *ngIf="!previewProduct">
                            <a>Nome do produto</a>
                          </div>
                          <div class="name-container" *ngIf="previewProduct">
                            <a>{{previewProduct}}</a>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                </div>
              </div>
          </div>      
      </form>
      <button (click)="submit()" mat-raised-button color="primary">Enviar</button>
    </mat-card-content>
  </mat-card>
</div>
<app-menu-table></app-menu-table>
