.full-width{
    width: 100%;
}

/* .form-container{
    margin: 100px;
} */

.form-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align:center;
    padding-bottom: 20px;
    color: #002b5c;
  }