/* .banner
{
    width: 100%;
    height: 80vh;
    align-items: center;
    position: relative;
}

.banner::before{
    background-color: #e0e0e0;
    background: url(https://images.squarespace-cdn.com/content/v1/5f0506034ba7fa6e0816dff5/1622732411311-ROGPAVPEMMV24YQEBF6X/sketch_deli-opt.png), linear-gradient(to right,#1c58fd63, #ffffff28);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
} */

.banner {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {    
      content: "";
      background-image: url('https://images.squarespace-cdn.com/content/v1/5f0506034ba7fa6e0816dff5/1622732411311-ROGPAVPEMMV24YQEBF6X/sketch_deli-opt.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}


.content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.col-1{
    flex-basis: 100%;
    position: relative;
}

.col-1 h2{
    font-weight: bolder;

}

.col-1 h3{
    color: #707070;
    font-weight: 100;
    margin: 12px 0 10px
}


.content button{
    width: 140px;
    color: #ffffff;
    padding: 12px 10px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(191, 190, 255), #0275d8);
}




