
nav
{
    width: 100%;
    padding: 20px 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a
{
    text-decoration: none;
    color: #0275d8;
    
    font-size: 25px;
    font-weight: 500;
}	

nav img
{
    margin: 10px;
    align-items: center;
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
}


nav ul
{
    font-weight: bold;
    display: flex;
}

nav ul li a
{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: black;
    border-radius: 6px;
}

nav ul li a:hover
{
    background-color: #0274d870 ;
    color: #000;
    transition: all ease 0.5s;
}

.centralized-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-button  {
    margin-top: -2px;
  }
