  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Uni2Go</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="login-register">Entrar</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="login-register">Registrar</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/order-dashboard/home-dashboard">Painel de pedidos</a>
          </li> 
        </ul>

        <div *ngIf="isAuthenticated" class="centralized-container">
          <img src={{ls.restaurant.restaurantImage}} alt="NomeRestaurante" class="rounded-circle">
          <span class="navbar-text">
            <a routerLink="/order-dashboard/home-dashboard">{{ls.restaurant.name}}</a>
          </span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" class="menu-button">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="navbar-menu">
            <button mat-menu-item data-bs-toggle="modal" data-bs-target="#editRestaurantModal">
              <mat-icon>edit</mat-icon>
              <span>Editar restaurante</span>
            </button>
            <div class="modal fade" id="editRestaurantModal" tabindex="-1" aria-labelledby="editRestaurantModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editRestaurantModalLabel">Editar perfil do restaurante</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-container">
                      <form [formGroup]="restaurantForm">
                        <mat-card class="preview-card">
                          <mat-card-header>
                            <mat-card-title>Visualização do restaurante:</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <div class="preview-restaurant">
                              <div class="image-container" *ngIf="!imageUrl">
                                <img src={{ls.restaurant.restaurantImage}} alt="RestaurantImage" class="rounded-circle preview-img">
                              </div>
                              <div *ngIf="imageUrl" class="image-container">
                                <img [src]="imageUrl" alt="Imagem do restaurante" class="rounded-circle preview-img">
                              </div>
                              <div class="name-container" *ngIf="!previewName">
                                <a>{{ls.restaurant.name}}</a>
                              </div>
                              <div class="name-container" *ngIf="previewName">
                                <a>{{previewName}}</a>
                              </div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                        <div class="form-row">
                          <label>Nome:</label>
                          <mat-form-field>
                            <input matInput placeholder="Name" [(ngModel)]="ls.restaurant.name" name="name" formControlName="name">
                          </mat-form-field>
                        </div>
                        <div class="form-row">
                          <label>Email:</label>
                          <mat-form-field>
                            <input matInput placeholder="Email" [(ngModel)]="ls.restaurant.email" name="email" formControlName="email">
                          </mat-form-field>
                        </div>
                        <div class="form-row">
                          <label>Permissão:</label>
                          <mat-radio-group aria-label="Select an option" color="primary" formControlName="role">
                            <mat-radio-button value="1">Admin</mat-radio-button>
                            <mat-radio-button value="2">Funcionário</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="form-row">
                          <label>Selecionar Imagem:</label>
                          <div>
                            <input type="file" #fileInput style="display:none" (change)="onFileChange($event)" formControlName="restaurantImage">
                            <button mat-raised-button color="primary" (click)="fileInput.click()">Selecionar</button>
                          </div>
                          <div *ngIf="imageUrl" class="editImg">
                            <img [src]="imageUrl" alt="Imagem do restaurante" class="rounded-circle fixed-size-image">
                          </div>
                        </div>
                      </form>                      
                    </div>                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" (click)="saveProfile()">Salvar edições</button>
                  </div>
                </div>
              </div>
            </div>            
            <button mat-menu-item (click)="exit()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sair</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </nav>