<div class="container-fluid px-4">
  <div class="row g-3 my-2">
      <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <h3 class="fs-2">720</h3>
                  <p class="fs-5">Clientes</p>
              </div>
              <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
      </div>
      <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <h3 class="fs-2">4920</h3>
                  <p class="fs-5">Vendas</p>
              </div>
              <i
                  class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
      </div>
      <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <h3 class="fs-2">30</h3>
                  <p class="fs-5">Itens no Cardápio</p>
              </div>
              <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
      </div>
      <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <h3 class="fs-2">3405</h3>
                  <p class="fs-5">Lucro bruto</p>
              </div>
              <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
      </div>
  </div>