<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Organizar por número">
      N° Pedido
    </th>
    <td mat-cell *matCellDef="let order"> {{order.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Organizar por nome">
      Nome
    </th>
    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Organizar por telefone">
      Telefone
    </th>
    <td mat-cell *matCellDef="let customer"> {{customer.mobilePhone}} </td>
  </ng-container>

  <ng-container matColumnDef="produtos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Organizar por produtos">
      Produtos
    </th>
    <td mat-cell *matCellDef="let order of order"> {{order.products[0].name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>
