<table mat-table
       [dataSource]="dataSource.reverse()" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of nameColumns;let i=index">
    <th mat-header-cell *matHeaderCellDef> {{displayColumns[i]}} </th>
    <ng-container *ngIf="column !== 'products'">    
      <td mat-cell *matCellDef="let order"> {{order[column]}} </td>
    </ng-container>
    <ng-container *ngIf="column == 'products'">    
      <td mat-cell *matCellDef="let order"> {{order[column][0].name}} </td>
      </ng-container>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let order">
      <button mat-icon-button aria-label="expand row" (click)="(expandedOrder = expandedOrder === order ? null : order); $event.stopPropagation()">
        <mat-icon *ngIf="expandedOrder !== order">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedOrder === order">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let order" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="order-detail"
           [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'">
        <div class="order-list">
          <div class="order-id"> id do pedido: {{order.id}} </div>
          <div class="order-status"> status do pedido: {{order.name}} </div>
          <div class="order-customer"> nome do cliente: {{order.costumer}} </div>
        </div>
        <div class="order-products">
          <span class="order-products-spacing"> - Produtos: </span>
          <tr *ngFor="let product of order.products">
            <td>⠀• {{product.name}}</td>
          </tr>        
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedOrder === order"
      (click)="expandedOrder = expandedOrder === order ? null : order">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
